<div class="detail-section">
<div class="container-fluid">
  <div class="row">

    <div>
      <img src="" class="img-responsive" width="200px">

      <h3>Lorem ipsum dolor sit amet</h3>
      <div class="price">$19.22</div>
      <a href="shopping-detail.html" class="primary-btn">Add to cart</a>

      <h4>Product Description</h4>
      <p>Duis aute irure dolor in reprehenderit in voluptate Duis aute irure dolor in
        reprehenderit in voluptate Duis aute irure dolor in reprehenderit in voluptate. Duis
        aute irure dolor in reprehenderit in voluptate. Duis aute irure dolor in
        reprehenderit
        in voluptate. Duis aute irure dolor in reprehenderit in voluptate. Duis aute irure
        dolor
        in reprehenderit in voluptate. Duis aute irure dolor in reprehenderit in voluptate
      </p>

      <a routerLink="/products">Back to Product List</a>
    </div>
  </div>
</div>
</div>
