<div class="detail-section">
<div class="container-fluid">
  <div class="row">

    <div>
      <img src="{{ product.imageUrl }}" class="img-responsive detail-img">

      <h3>{{ product.name }}</h3>
      <div class="price">{{ product.unitPrice | currency: 'USD'}}</div>
      <button class="btn btn-primary" (click)="addTocart()">Add to cart</button>
      <hr>
      <h4>Product Description</h4>
      <p>{{ product.description }}
      </p>

      <a routerLink="/products">Back to Product List</a>
    </div>
  </div>
</div>
</div>
