<table class="table">
  <thead class="thead-dark">
  <th>Sku</th>
  <th>Name</th>
  <th>Description</th>
  <th>UnitPrice</th>
  <th>Image Url</th>
  <th>Active</th>
  <th>Units In Stock</th>
  <th>Date Created</th>
  <th>Last Updated</th>
  <th>MEt Quota?</th>
  </thead>
  <tbody *ngFor="let product of products " [ngClass]="{'highlight' : product.unitPrice > 3}">
  <td>{{ product.sku }}</td>
  <td>{{ product.name }}</td>
  <td>{{ product.description }}</td>
  <td>{{ product.unitPrice | currency:'USD' }}</td>
  <td>{{ product.imageUrl }}</td>
  <td>{{ product.active }}</td>
  <td>{{ product.unitsInStock }}</td>
  <td>{{ product.dateCreated }}</td>
  <td>{{ product.lastUpdated }}</td>


  <td>
    <div *ngIf="product.unitPrice > 3 ; else myElseBlock">Yes</div>
    <ng-template #myElseBlock>
      <div class="text-danger">No</div>
    </ng-template>
  </td>

  </tbody>

</table>
