<div class="main-content">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3" *ngFor="let product of products">
          <div class="product-box">
            <a  routerLink="/products/{{ product.id }}">
              <img src="{{ product.imageUrl }}" height="100px" class="img-responsive">
            </a>
            <a routerLink="/products/{{ product.id }}">
              <h1>{{ product.name }}</h1>
            </a>
            <h2>{{ product.description }}</h2>
            <div class="price">{{ product.unitPrice | currency:'USD' }}</div>
            <a href="#" class="primary-btn">Add to cart</a>
          </div>
        </div>

        <div *ngIf="products?.length == 0" class="alert alert-danger col-md-12" role="alert">
          No Products Found.
        </div>

      </div>
    </div>
  </div>
</div>
